//  Fill values with valid credentials then rename file and remove .template

{
    "httpAuthUsername": "",
    "httpAuthPassword": "",
    "email": "",
    "password": "",
    "invalidEmail": "invalid@example.com",
    "invalidPassword": "wrongPassword123",
    "invalidPasswordNoNumb": "wrongPassword",
    "invalidPasswordErrorMsg": "Password must be at least 6 characters with uppercase letter and a number",
  }